#menu-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    grid-row-gap: 20px;
    border: 2px solid black;
    padding: 30px;
    width: 60%;
    height: 100%;
}
.product {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
    height: 200px;
}
.availability {
    color: black;
}
.product-info,.pricing {
    display: flex;
}

h2 {
    font-weight: bold;
    font-size: larger;
}