* {
    box-sizing: border-box;
}
body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto;
    font-family: "Exo 2",Arial,Helvetica,sans-serif;
    overflow: auto;
}
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(67, 86, 121, 1);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 69, 97);
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
address {
    cursor: pointer;
}
ul {
    display: flex;
}
i, span {
    color: white;
}
i {
    display: inline;
    margin: 0 10px;
}
h1 {
    display: block;
    font-size: 100px;
    font-weight: bold;
}
span {
    font-weight: bold;
    font-size: 21px;
}
#tel-num, #shop-acc {
    display: flex;
    padding: 10px;
    margin: 0 20px;
    justify-content: space-around;
    align-items: center;
}
#main-page,#contact,#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    padding: 15px;
    margin: 0 5px;
    width: 250px;
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
img {
    height: 90px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}