* {
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: "Exo 2",Arial,Helvetica,sans-serif;
}
.header {
    position: relative;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(67, 86, 121, 1);
}
.navigation {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 69, 97);
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#tel-num,.header i,.nav-text,.nav-icon,#shop-acc a:visited {
    color: white;
}
#tel-num, #shop-acc {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 0 20px;
    justify-content: space-around;
    align-items: center;
}
#main-page,#contact,#menu {
    display: flex;
    height: 1em;
    padding: 15px;
    margin: 0 5px;
    width: 250px;
}
#tel-icon, #tel, #shopping-cart, #account, #nav-icon, #nav-text {
    display: inline;
}
#tel,.nav-text {
    font-weight: bold;
    font-size: 21px;
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
i {
    margin: 0 10px;
}
img {
    height: 90px;
}
a {
    display: flex;
    color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}